<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Coffee</title>
  <link rel="stylesheet" th:href="@{/css/edit.css}">

</head>
<body>
<h1 th:text="'Edit ' + ${coffeeExam.name}"></h1>
<div class="form-container">
  <form th:action="@{/update}" method="post" th:object="${coffeeExam}">
    <input type="hidden" th:field="*{id}"/>

    <div>
      <label for="name">Name</label>
      <input type="text" id="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'error' : ''"/>
      <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>

    <div>
      <label for="type">Type</label>
      <select id="type" th:field="*{type}">
        <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
      </select>
      <p class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
    </div>

    <div>
      <label>Size</label>
      <select th:field="*{size}" id="size">
        <option th:each="size : ${sizes}" th:value="${size}" th:text="${size}"></option>
      </select>
    </div>

    <div>
      <label>Price</label>
      <input type="number" step="0.01" th:field="*{price}" placeholder="Price"/>
    </div>

    <div>
      <label>Roast Level</label>
      <select th:field="*{roastLevel}" id="roastLevel">
        <option th:each="roastLevel : ${roastLevels}" th:value="${roastLevel}" th:text="${roastLevel}"></option>
      </select>
    </div>

    <div>
      <label>Coffee Origin</label>
      <input type="text" th:field="*{origin}" placeholder="Origin"/>
    </div>

    <div>
      <input type="checkbox" th:field="*{decaf}" value="true"/> Decaf
    </div>

    <div>
      <label>Stock</label>
      <input type="number" th:field="*{stock}" placeholder="Stock"/>
    </div>

    <div class="flavor-notes-container">
      <label>Flavor Notes (select all that apply):</label>
      <div>
        <label for="edit-chocolate">Chocolate</label>
        <input type="checkbox" name="flavorNotes" value="Chocolate" id="edit-chocolate"
               th:checked="${#strings.contains(coffeeExam.flavorNotes, 'Chocolate')}">
      </div>
      <div>
        <label for="edit-mint">Mint</label>
        <input type="checkbox" name="flavorNotes" value="Mint" id="edit-mint"
               th:checked="${#strings.contains(coffeeExam.flavorNotes, 'Mint')}">
      </div>
      <div>
        <label for="edit-strawberry">Strawberry</label>
        <input type="checkbox" name="flavorNotes" value="Strawberry" id="edit-strawberry"
               th:checked="${#strings.contains(coffeeExam.flavorNotes, 'Strawberry')}">
      </div>
      <div>
        <label for="edit-orange">Orange</label>
        <input type="checkbox" name="flavorNotes" value="Orange" id="edit-orange"
               th:checked="${#strings.contains(coffeeExam.flavorNotes, 'Orange')}">
      </div>
      <div>
        <label for="edit-blueberry">Blueberry</label>
        <input type="checkbox" name="flavorNotes" value="Blueberry" id="edit-blueberry"
               th:checked="${#strings.contains(coffeeExam.flavorNotes, 'Blueberry')}">
      </div>
      <div>
        <label for="edit-pineapple">Pineapple</label>
        <input type="checkbox" name="flavorNotes" value="Pineapple" id="edit-pineapple"
               th:checked="${#strings.contains(coffeeExam.flavorNotes, 'Pineapple')}">
      </div>
    </div>

    <div>
      <label for="brewMethods">Brew Method</label>
      <select th:field="*{brewMethod}" id="brewMethods">
        <option th:each="method : ${brewMethods}" th:value="${method}" th:text="${method}"></option>
      </select>
    </div>

    <div class="action">
      <a th:href="@{/}" class="button cancel">Cancel</a>
      <button>Update Coffee</button>
      <a href="/">Back to List</a>
    </div>
  </form>
</div>
</body>
</html>