<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>

<form method="post" action="/login" th:object="${user}">
    <h2>Login</h2>
    <div th:if="${error}">
        <p style="color:red;" th:text="${error}"></p>
    </div>
    <div>
        <label>Username:</label>
        <input type="text" name="username" th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'error' : '' ">
        <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    </div>

    <div>
        <label>Password:</label>
        <input type="password" name="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'error' : '' " />
        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>


</form>
</body>
</html>